{erl_opts, [debug_info,
            {i, ["include"]},
            {src_dirs, ["src"]}]}.

{port_specs, [{"priv/test_drv.so", ["c_src/test_driver.c"]},
              {"", "priv/test_outputv_drv.so", ["c_src/test_driver_outputv.c"],
               [{env, [{"CFLAGS", "$CFLAGS -DOUTPUTV"}]}]}
             ]}.

{deps, []}.

{ct_use_short_names, true}.

{require_otp_vsn, "R1[56]"}.
